@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Prototype';
  src: url('./Assets/Prototype.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6, p, span, i {
  font-family: 'Lexend', sans-serif;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}


body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Set the initial dark shade color */
  z-index: 9999;
  animation: fadeOut 5s ease-in forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

section {
  height: 100vh;
  padding: 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  background: linear-gradient(to bottom, transparent, black), url("./Assets/Leafs.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Prototype';
  font-size: 100px;
  text-shadow: black 10px 10px 10px;
}

.container {
  position: sticky;
  top: 30vh;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  color: mix(#fff, #e91e63, 85%);
  font-weight: 900;
  text-shadow: 
    -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
    0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
    0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
    0.015em 0.015em mix(#fff, #e91e63, 64%), 
    0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
    0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
    0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
    0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
}

#junior {
  background: linear-gradient(to bottom, #000, #151515);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  display: flex;
  padding: 0px;
  
}

#junior .row {
  display: flex;
  flex-direction: row;
  height: 100vh;
  text-align: justify;
}

#junior .column-1 {
  color: white;
  width: 40%;
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  padding: 0 10%;
  font-size: 140%;
  justify-content: center;
  margin: 25px 0 25Px 25px;
  align-items: flex-start;
}

#junior .column-1 slash {
border-top:2px solid white;
display:inline-flex;
width: 50px;
margin-top: 20px;
margin-bottom: 15px;
height: 5px;
}

#junior .column-1 h5 {
font-size: 18px;
font-weight: 500;
}

#junior .column-1 h3 span {
  display:inline-flex;
  width: 30px;
  height: 5px;
  margin-right: 20px;
  background: white;
}

#junior .column-2 {
  width: 60%;
  display: flex;
  padding: 5%;
  align-items: center;
  justify-content: center;
}

#junior .column-2 p {
  line-height: 2rem;
  font-size: 18px;
}

#junior .column-2 .rectangle {
  background-color: linear-gradient(to bottom, #000, #151515);
  width: 100%;
  height: 350px;
  filter: blur(2px);
  bottom: 50px;
  top: 100%; /* Position the rectangle below the content */
  left: 100px;
  transform: translateX(-250px);
  border: 20px solid white;
}

#junior p {
  z-index: 10000;
  filter: drop-shadow(3px 3px 2px black);
  text-shadow: white 1px 0 10px;
}

#about {
  height: 100vh;
  background: linear-gradient(to bottom, #151515, #000);
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.thumbnail {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.thumbnail h2 {
  padding-top: 8px;
  font-size: medium;
}

.right-column {
  color: white;
  padding: 20px;
  text-align: center;
}

#partenaire {
  background: linear-gradient(to bottom, #36B9A5, #159895);
  align-items: center;
}

#portfolio {
  background: linear-gradient(to bottom, #159895, #1A5F7A);
  align-items: center;
}

#services {
  background: linear-gradient(to bottom, #1A5F7A, #002B5B);
  align-items: flex-end;
}

#contact {
  background: linear-gradient(to bottom, #002B5B, #002B5B);
}

.scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}
.scroll-down-link {
  position: absolute;
  z-index: 100;
  cursor: pointer;
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  left: 50%;
  bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 70px;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0% {
      -webkit-transform: translate(0, -20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
  }
  @-moz-keyframes fade_move_down {
    0% {
      -moz-transform: translate(0, -20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -moz-transform: translate(0, 20px);
      opacity: 0;
    }
  }
  @keyframes fade_move_down {
    0% {
      transform: translate(0, -20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 20px);
      opacity: 0;
    }
  }
}
.group {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.item {
  width: 15vw;
  height: 28vh;
  background-position: center;
  background-size: 75vh;
  margin: 1vw;
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
  transition: 250ms;
}
.item:hover {
  width: 30vw;
}
.title {
  margin: 0em 0em 1em 0em;
  z-index: 1;
  font-size: 200px;
  -webkit-text-stroke: 6px #00000080;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
  color: hsl(120, 100%, 80%);
  text-shadow:
      0 0 1em hsla(120, 100%, 50%, 0.5),
      0 0 0.125em hsla(120, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
}
footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #0f0f0f;
  color: white;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
  font-weight: bold;
  opacity: 1;
  visibility: visible;
  animation: fadeOut 2.5s ease-in forwards;
  z-index: 10000;
}
.overlay h2 {
  position: relative;
  font-family: 'Lexend', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  color: transparent;
  background: linear-gradient(
    90deg,
    #ffffff,
    #ffffff,
    #ffffff); 
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  mix-blend-mode: difference;
  animation: animate 2.5s linear;
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;  
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightgreen;
  color: white;
}
.button-on {
  background-color: darkgreen;
}
.button-top {
  margin-bottom: 10px;
}
.button-container {
  display: flex;
  margin: 1vh auto;
}
.button-container > * {
  flex: 1 1 50%;
}
.content {
  width: 100vw;
  position: sticky;
  bottom: 15vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.slider-wrapper {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 50px;
  padding-left:15px;
  overflow: hidden;
}
.slider div {
  color:#fff;
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
}
.slider-text1 {
  background: lightgreen;
  animation: slide 5s linear infinite;
}
.slider-text2 {
  background: skyblue;
}
.slider-text3 {
  background: lightcoral;
}
@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}
  33% {margin-top:-200px;}
  38% {margin-top:-100px;}
  66% {margin-top:-100px;}
  71% {margin-top:0px;}
  100% {margin-top:0px;}
}

nav { 
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 10px 10px 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  margin-right: 10px;
  padding-top: 18px;
}

nav ul li {
  display: inline;
  margin: 10px;
  background: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 3px 3px 0px grey;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  font-family: 'Lexend', sans-serif;
}

nav ul li:hover {
  background: #F5EDE5;
}

nav ul li:active {
  transform: translateY(3px);
  box-shadow: none;
  background-color: #F5EDE5;
}


nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0s ease 0.6s;
}

.menu.show {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

#contact h2 {
  text-align: center;
  margin: 0 auto;
  padding: 41px 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}
 #contact p {
  text-align: center;
  margin: 0 auto;
  padding: 32px 0;
  color: #fff;
  letter-spacing: 2px;
 }
 
 .contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  padding: 1vh 0 0 1vh;
  text-align: left;
}


.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

.form-group {
  padding: 3vh 0 0 10vh;
}

